<!--top bar-->
<div class="col-span-12 bg-zinc-100 px-4 py-4 rounded-b-lg">
  <span class="flex text-zinc-500 text-2xl font-bold justify-center">Урок <%= @lesson.order %></span>
  <span class="flex text-zinc-800 text-2xl font-bold justify-center mt-4"><%= @lesson.title %></span>
</div>

  <% @tasks.each do |task| %>
    <div class="col-start-4 col-end-10 w-full pt-6">
      <%# @new_task_part = task.build_new_task_part %>
      <%= render task, locals = { building: @tasks_build[task.id], index: @tasks.find_index(task) }%>
    </div>
  <% end %>

<% if @new_task %>
  <div class="col-start-4 col-end-10 w-full mt-6">
    <%= render 'tasks/form', task: @task %>
  </div>
<% end %>

<div class="col-start-6 col-end-8 px-4 mt-6">
  <% unless @new_task %>
    <%= button_to lesson_path(@lesson), method: :get, params: { 'new_task' => true }, class: 'flex w-48 bg-zinc-300 border-[1px] border-zinc-800 rounded-2xl col-start-5 hover:bg-zinc-400 justify-center px-4 py-2' do %>
        <span class="text-zinc-800 font-semibold">Новое задание</span>
    <% end %>
  <% end %>

  <% if @new_task %>
    <%= button_to lesson_path(@lesson), method: :get, class: 'flex w-48 bg-zinc-300 border-[1px] border-zinc-800 rounded-2xl col-start-5 hover:bg-zinc-400  justify-center px-4 py-2' do %>
        <span class="text-zinc-800 font-semibold">Отменить</span>
    <% end %>
  <% end %>
</div>