<%= form_with(model: course, class: "contents") do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-2 gap-4 bg-zinc-100 rounded-xl py-4 px-4">
    <div class="col-span-2 w-full pb-2 text-2xl text-zinc-700">Новый курс</div>
    <div>
      <%= form.text_field :title, class: "block w-full h-min rounded-lg border-[1px] border-red-300 focus:border-red-800 focus:ring-0", placeholder: "Название курса*", required: '' %>
    </div>
    <div>
      <%= form.text_field :price, class: "block w-full rounded-lg border-[1px] border-red-300 focus:border-red-800 focus:ring-0", placeholder: "Стоимость", value: 0 %>
    </div>
    <div class="col-span-2">
      <%= form.text_area :description, class: "block w-full rounded-lg border-[1px] border-red-300 focus:border-red-800 focus:ring-0", placeholder: "Описание курса" %>
    </div>
    <%= hidden_field_tag "course[language]", 'english'%>
    <%= hidden_field_tag "course[status]", 'verified'%>
    <%= hidden_field_tag "course[availability]", 'open'%>
    <div>
      <%= form.submit "Отправить", :class => 'flex h-10 px-4 bg-orange-200 border-[1px] rounded-lg border-red-200 focus:border-orange-800 focus:bg-orange-400 focus:ring-0' %>
    </div>
  </div>

<% end %>
